In [15]:
from config.spark import SparkIcebergConfig

# Stop existing session
if 'spark' in globals():
    spark.stop()

# Create new session with desired configuration
spark = SparkIcebergConfig.create_session("glue")  # or "glue" or "rest"

In [16]:
%%sql
SHOW NAMESPACES IN glue;

25/09/15 09:46:12 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

+-----------+
| namespace |
+-----------+
|      demo |
+-----------+

In [3]:
%%sql 
CREATE NAMESPACE IF NOT EXISTS glue.demo;

++
||
++
++

In [4]:
%%sql
SHOW NAMESPACES IN glue;

+----------------------+
|            namespace |
+----------------------+
|                 demo |
| `test-glue-database` |
+----------------------+

In [9]:
%%sql
CREATE TABLE
  IF NOT EXISTS glue.demo.users (id BIGINT, name STRING, age INT) USING ICEBERG PARTITIONED BY (age);

++
||
++
++

In [4]:
%%sql
INSERT INTO
  glue.demo.users
VALUES
  (1, 'Alice', 30),
  (2, 'Bob', 25),
  (3, 'Charlie', 35);

25/09/14 16:22:38 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

++
||
++
++

In [5]:
%%sql
SELECT
  *
FROM
  glue.demo.users;

+----+---------+-----+
| id |    name | age |
+----+---------+-----+
|  2 |     Bob |  25 |
|  1 |   Alice |  30 |
|  3 | Charlie |  35 |
|  2 |     Bob |  25 |
|  1 |   Alice |  30 |
|  3 | Charlie |  35 |
|  1 |   Alice |  30 |
|  3 | Charlie |  35 |
+----+---------+-----+

In [15]:
%%sql
DELETE FROM glue.demo.users
WHERE
  id = 2;

++
||
++
++

In [16]:
%%sql
SELECT
  *
FROM
  glue.demo.users;

+----+---------+-----+
| id |    name | age |
+----+---------+-----+
|  1 |   Alice |  30 |
|  3 | Charlie |  35 |
+----+---------+-----+

In [23]:
%%sql
DROP TABLE IF EXISTS glue.demo.users5;

++
||
++
++

In [25]:
%%sql
CREATE TABLE
  IF NOT EXISTS glue.demo.users5 (id4 BIGINT, name4 STRING, age4 INT) USING ICEBERG PARTITIONED BY (age4);

++
||
++
++

In [30]:
%%sql
INSERT INTO
  glue.demo.users4
VALUES
  (1, 'Alice', 23),
  (2, 'Bob', 34),
  (3, 'Charlie', 45);

++
||
++
++

In [7]:
%%sql
SELECT
  *
FROM
  glue.demo.users4.files;

+---------+------------------------------------------------------------------------------------------------------------------------+-------------+---------+--------------+--------------+--------------------+-----------------------+--------------------+--------------------+------------------+----------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------+--------------+---------------+--------------+---------------+----------------------+----------------+-----------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| content |                                                                                                              file_path | file_format | spec_id |    partition | record_count | file_size_in_bytes |          column_sizes |       value_counts |  null_value_counts | nan_value_counts |                                                                                                   lower_bounds |                                                                                                   upper_bounds | key_metadata | split_offsets | equality_ids | sort_order_id | referenced_data_file | content_offset | content_size_in_bytes |                                                                                                                                                                                                                                                                                                                                                         readable_metrics |
+---------+------------------------------------------------------------------------------------------------------------------------+-------------+---------+--------------+--------------+--------------------+-----------------------+--------------------+--------------------+------------------+----------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------+--------------+---------------+--------------+---------------+----------------------+----------------+-----------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|       0 | s3://9565atulverma-s3-bucket/demo.db/users4/data/age4=23/00000-11-c505828a-0943-4589-baf3-674c2dda0e67-0-00001.parquet |     PARQUET |       0 | Row(age4=23) |            1 |                931 | {1: 43, 2: 44, 3: 39} | {1: 1, 2: 1, 3: 1} | {1: 0, 2: 0, 3: 0} |               {} | {1: bytearray(b'\x01\x00\x00\x00\x00\x00\x00\x00'), 2: bytearray(b'Alice'), 3: bytearray(b'\x17\x00\x00\x00')} | {1: bytearray(b'\x01\x00\x00\x00\x00\x00\x00\x00'), 2: bytearray(b'Alice'), 3: bytearray(b'\x17\x00\x00\x00')} |         None |           [4] |         None |             0 |                 None |           None |                  None |     Row(age4=Row(column_size=39, value_count=1, null_value_count=0, nan_value_count=None, lower_bound=23, upper_bound=23), id4=Row(column_size=43, value_count=1, null_value_count=0, nan_value_count=None, lower_bound=1, upper_bound=1), name4=Row(column_size=44, value_count=1, null_value_count=0, nan_value_count=None, lower_bound='Alice', upper_bound='Alice')) |
|       0 | s3://9565atulverma-s3-bucket/demo.db/users4/data/age4=45/00000-11-c505828a-0943-4589-baf3-674c2dda0e67-0-00003.parquet |     PARQUET |       0 | Row(age4=45) |            1 |                945 | {1: 43, 2: 46, 3: 39} | {1: 1, 2: 1, 3: 1} | {1: 0, 2: 0, 3: 0} |               {} |  {1: bytearray(b'\x03\x00\x00\x00\x00\x00\x00\x00'), 2: bytearray(b'Charlie'), 3: bytearray(b'-\x00\x00\x00')} |  {1: bytearray(b'\x03\x00\x00\x00\x00\x00\x00\x00'), 2: bytearray(b'Charlie'), 3: bytearray(b'-\x00\x00\x00')} |         None |           [4] |         None |             0 |                 None |           None |                  None | Row(age4=Row(column_size=39, value_count=1, null_value_count=0, nan_value_count=None, lower_bound=45, upper_bound=45), id4=Row(column_size=43, value_count=1, null_value_count=0, nan_value_count=None, lower_bound=3, upper_bound=3), name4=Row(column_size=46, value_count=1, null_value_count=0, nan_value_count=None, lower_bound='Charlie', upper_bound='Charlie')) |
|       0 | s3://9565atulverma-s3-bucket/demo.db/users4/data/age4=34/00000-11-c505828a-0943-4589-baf3-674c2dda0e67-0-00002.parquet |     PARQUET |       0 | Row(age4=34) |            1 |                917 | {1: 43, 2: 42, 3: 39} | {1: 1, 2: 1, 3: 1} | {1: 0, 2: 0, 3: 0} |               {} |      {1: bytearray(b'\x02\x00\x00\x00\x00\x00\x00\x00'), 2: bytearray(b'Bob'), 3: bytearray(b'"\x00\x00\x00')} |      {1: bytearray(b'\x02\x00\x00\x00\x00\x00\x00\x00'), 2: bytearray(b'Bob'), 3: bytearray(b'"\x00\x00\x00')} |         None |           [4] |         None |             0 |                 None |           None |                  None |         Row(age4=Row(column_size=39, value_count=1, null_value_count=0, nan_value_count=None, lower_bound=34, upper_bound=34), id4=Row(column_size=43, value_count=1, null_value_count=0, nan_value_count=None, lower_bound=2, upper_bound=2), name4=Row(column_size=42, value_count=1, null_value_count=0, nan_value_count=None, lower_bound='Bob', upper_bound='Bob')) |
|       0 |  s3://9565atulverma-s3-bucket/demo.db/users4/data/age4=23/00000-3-19c2b588-4d84-413c-870b-a854313c7443-0-00001.parquet |     PARQUET |       0 | Row(age4=23) |            1 |                931 | {1: 43, 2: 44, 3: 39} | {1: 1, 2: 1, 3: 1} | {1: 0, 2: 0, 3: 0} |               {} | {1: bytearray(b'\x01\x00\x00\x00\x00\x00\x00\x00'), 2: bytearray(b'Alice'), 3: bytearray(b'\x17\x00\x00\x00')} | {1: bytearray(b'\x01\x00\x00\x00\x00\x00\x00\x00'), 2: bytearray(b'Alice'), 3: bytearray(b'\x17\x00\x00\x00')} |         None |           [4] |         None |             0 |                 None |           None |                  None |     Row(age4=Row(column_size=39, value_count=1, null_value_count=0, nan_value_count=None, lower_bound=23, upper_bound=23), id4=Row(column_size=43, value_count=1, null_value_count=0, nan_value_count=None, lower_bound=1, upper_bound=1), name4=Row(column_size=44, value_count=1, null_value_count=0, nan_value_count=None, lower_bound='Alice', upper_bound='Alice')) |
|       0 |  s3://9565atulverma-s3-bucket/demo.db/users4/data/age4=45/00000-3-19c2b588-4d84-413c-870b-a854313c7443-0-00003.parquet |     PARQUET |       0 | Row(age4=45) |            1 |                945 | {1: 43, 2: 46, 3: 39} | {1: 1, 2: 1, 3: 1} | {1: 0, 2: 0, 3: 0} |               {} |  {1: bytearray(b'\x03\x00\x00\x00\x00\x00\x00\x00'), 2: bytearray(b'Charlie'), 3: bytearray(b'-\x00\x00\x00')} |  {1: bytearray(b'\x03\x00\x00\x00\x00\x00\x00\x00'), 2: bytearray(b'Charlie'), 3: bytearray(b'-\x00\x00\x00')} |         None |           [4] |         None |             0 |                 None |           None |                  None | Row(age4=Row(column_size=39, value_count=1, null_value_count=0, nan_value_count=None, lower_bound=45, upper_bound=45), id4=Row(column_size=43, value_count=1, null_value_count=0, nan_value_count=None, lower_bound=3, upper_bound=3), name4=Row(column_size=46, value_count=1, null_value_count=0, nan_value_count=None, lower_bound='Charlie', upper_bound='Charlie')) |
|       0 |  s3://9565atulverma-s3-bucket/demo.db/users4/data/age4=34/00000-3-19c2b588-4d84-413c-870b-a854313c7443-0-00002.parquet |     PARQUET |       0 | Row(age4=34) |            1 |                917 | {1: 43, 2: 42, 3: 39} | {1: 1, 2: 1, 3: 1} | {1: 0, 2: 0, 3: 0} |               {} |      {1: bytearray(b'\x02\x00\x00\x00\x00\x00\x00\x00'), 2: bytearray(b'Bob'), 3: bytearray(b'"\x00\x00\x00')} |      {1: bytearray(b'\x02\x00\x00\x00\x00\x00\x00\x00'), 2: bytearray(b'Bob'), 3: bytearray(b'"\x00\x00\x00')} |         None |           [4] |         None |             0 |                 None |           None |                  None |         Row(age4=Row(column_size=39, value_count=1, null_value_count=0, nan_value_count=None, lower_bound=34, upper_bound=34), id4=Row(column_size=43, value_count=1, null_value_count=0, nan_value_count=None, lower_bound=2, upper_bound=2), name4=Row(column_size=42, value_count=1, null_value_count=0, nan_value_count=None, lower_bound='Bob', upper_bound='Bob')) |
|       0 | s3://9565atulverma-s3-bucket/demo.db/users4/data/age4=23/00000-21-9e66c983-da71-4f8c-bef2-a88bf6e830b9-0-00001.parquet |     PARQUET |       0 | Row(age4=23) |            1 |                931 | {1: 43, 2: 44, 3: 39} | {1: 1, 2: 1, 3: 1} | {1: 0, 2: 0, 3: 0} |               {} | {1: bytearray(b'\x01\x00\x00\x00\x00\x00\x00\x00'), 2: bytearray(b'Alice'), 3: bytearray(b'\x17\x00\x00\x00')} | {1: bytearray(b'\x01\x00\x00\x00\x00\x00\x00\x00'), 2: bytearray(b'Alice'), 3: bytearray(b'\x17\x00\x00\x00')} |         None |           [4] |         None |             0 |                 None |           None |                  None |     Row(age4=Row(column_size=39, value_count=1, null_value_count=0, nan_value_count=None, lower_bound=23, upper_bound=23), id4=Row(column_size=43, value_count=1, null_value_count=0, nan_value_count=None, lower_bound=1, upper_bound=1), name4=Row(column_size=44, value_count=1, null_value_count=0, nan_value_count=None, lower_bound='Alice', upper_bound='Alice')) |
|       0 | s3://9565atulverma-s3-bucket/demo.db/users4/data/age4=45/00000-21-9e66c983-da71-4f8c-bef2-a88bf6e830b9-0-00003.parquet |     PARQUET |       0 | Row(age4=45) |            1 |                945 | {1: 43, 2: 46, 3: 39} | {1: 1, 2: 1, 3: 1} | {1: 0, 2: 0, 3: 0} |               {} |  {1: bytearray(b'\x03\x00\x00\x00\x00\x00\x00\x00'), 2: bytearray(b'Charlie'), 3: bytearray(b'-\x00\x00\x00')} |  {1: bytearray(b'\x03\x00\x00\x00\x00\x00\x00\x00'), 2: bytearray(b'Charlie'), 3: bytearray(b'-\x00\x00\x00')} |         None |           [4] |         None |             0 |                 None |           None |                  None | Row(age4=Row(column_size=39, value_count=1, null_value_count=0, nan_value_count=None, lower_bound=45, upper_bound=45), id4=Row(column_size=43, value_count=1, null_value_count=0, nan_value_count=None, lower_bound=3, upper_bound=3), name4=Row(column_size=46, value_count=1, null_value_count=0, nan_value_count=None, lower_bound='Charlie', upper_bound='Charlie')) |
|       0 | s3://9565atulverma-s3-bucket/demo.db/users4/data/age4=34/00000-21-9e66c983-da71-4f8c-bef2-a88bf6e830b9-0-00002.parquet |     PARQUET |       0 | Row(age4=34) |            1 |                917 | {1: 43, 2: 42, 3: 39} | {1: 1, 2: 1, 3: 1} | {1: 0, 2: 0, 3: 0} |               {} |      {1: bytearray(b'\x02\x00\x00\x00\x00\x00\x00\x00'), 2: bytearray(b'Bob'), 3: bytearray(b'"\x00\x00\x00')} |      {1: bytearray(b'\x02\x00\x00\x00\x00\x00\x00\x00'), 2: bytearray(b'Bob'), 3: bytearray(b'"\x00\x00\x00')} |         None |           [4] |         None |             0 |                 None |           None |                  None |         Row(age4=Row(column_size=39, value_count=1, null_value_count=0, nan_value_count=None, lower_bound=34, upper_bound=34), id4=Row(column_size=43, value_count=1, null_value_count=0, nan_value_count=None, lower_bound=2, upper_bound=2), name4=Row(column_size=42, value_count=1, null_value_count=0, nan_value_count=None, lower_bound='Bob', upper_bound='Bob')) |
+---------+------------------------------------------------------------------------------------------------------------------------+-------------+---------+--------------+--------------+--------------------+-----------------------+--------------------+--------------------+------------------+----------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------+--------------+---------------+--------------+---------------+----------------------+----------------+-----------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [23]:
### Time Travel

In [17]:
%%sql
SELECT
  *
FROM
  glue.demo.users4 TIMESTAMP AS OF '2025-09-13 23:21:00';

+-----+---------+------+
| id4 |   name4 | age4 |
+-----+---------+------+
|   1 |   Alice |   23 |
|   3 | Charlie |   45 |
|   2 |     Bob |   34 |
+-----+---------+------+

In [18]:
%%sql
SELECT
  *
FROM
  glue.demo.users4 TIMESTAMP AS OF '2025-09-14 19:54:00';

+-----+---------+------+
| id4 |   name4 | age4 |
+-----+---------+------+
|   1 |   Alice |   23 |
|   3 | Charlie |   45 |
|   2 |     Bob |   34 |
|   1 |   Alice |   23 |
|   3 | Charlie |   45 |
|   2 |     Bob |   34 |
|   1 |   Alice |   23 |
|   3 | Charlie |   45 |
|   2 |     Bob |   34 |
+-----+---------+------+

In [32]:
%%sql
SELECT
  id4,	name4
FROM
  glue.demo.users4;

+-----+---------+
| id4 |   name4 |
+-----+---------+
|   1 |   Alice |
|   3 | Charlie |
|   2 |     Bob |
|   1 |      23 |
|   2 |      34 |
|   3 |      45 |
|   1 |   Alice |
|   3 | Charlie |
|   2 |     Bob |
|   1 |   Alice |
|   3 | Charlie |
|   2 |     Bob |
|   1 |   Alice |
|   3 | Charlie |
|   2 |     Bob |
+-----+---------+

In [35]:
%%sql
select * from glue.demo.users4;

+-----+---------+------+
| id4 |   name4 | age4 |
+-----+---------+------+
|   1 |   Alice |   23 |
|   3 | Charlie |   45 |
|   2 |     Bob |   34 |
|   1 |   Alice |   23 |
|   3 | Charlie |   45 |
|   2 |     Bob |   34 |
|   1 |   Alice |   23 |
|   3 | Charlie |   45 |
|   2 |     Bob |   34 |
|   1 |      23 | None |
|   2 |      34 | None |
|   3 |      45 | None |
|   1 |       a |   23 |
|   3 |       a |   45 |
|   2 |       a |   34 |
|   1 |   Alice |   23 |
|   3 | Charlie |   45 |
|   2 |     Bob |   34 |
+-----+---------+------+

In [12]:
%%sql
INSERT INTO
  glue.demo.users4(id4, age4, name4)
VALUES
  (1, 23, 'a'),
  (2, 34, 'a'),
  (3, 45, 'a');

++
||
++
++

In [37]:
%%sql
TRUNCATE table glue.demo.users4;

++
||
++
++

In [18]:
%%sql
select * from glue.demo.users4;

+-----+-------+------+
| id4 | name4 | age4 |
+-----+-------+------+
|   1 |     a |   23 |
|   3 |     a |   45 |
|   2 |     a |   34 |
|   1 |     a |   23 |
|   3 |     a |   45 |
|   2 |     a |   34 |
|   1 |     a |   23 |
|   3 |     a |   45 |
|   2 |     a |   34 |
+-----+-------+------+

In [19]:
%%sql
CREATE TABLE
  IF NOT EXISTS glue.demo.users6 (id BIGINT, name STRING, age INT) USING ICEBERG PARTITIONED BY (age);

Py4JJavaError: An error occurred while calling o390.sql.
: software.amazon.awssdk.services.glue.model.AccessDeniedException: Insufficient Lake Formation permission(s) on users6 (Service: Glue, Status Code: 400, Request ID: 2e475a49-7794-45d5-96b8-356a124dbced)
	at software.amazon.awssdk.core.internal.http.CombinedResponseHandler.handleErrorResponse(CombinedResponseHandler.java:124)
	at software.amazon.awssdk.core.internal.http.CombinedResponseHandler.handleResponse(CombinedResponseHandler.java:81)
	at software.amazon.awssdk.core.internal.http.CombinedResponseHandler.handle(CombinedResponseHandler.java:59)
	at software.amazon.awssdk.core.internal.http.CombinedResponseHandler.handle(CombinedResponseHandler.java:40)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.HandleResponseStage.execute(HandleResponseStage.java:50)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.HandleResponseStage.execute(HandleResponseStage.java:38)
	at software.amazon.awssdk.core.internal.http.pipeline.RequestPipelineBuilder$ComposingRequestPipelineStage.execute(RequestPipelineBuilder.java:206)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.ApiCallAttemptTimeoutTrackingStage.execute(ApiCallAttemptTimeoutTrackingStage.java:74)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.ApiCallAttemptTimeoutTrackingStage.execute(ApiCallAttemptTimeoutTrackingStage.java:43)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.TimeoutExceptionHandlingStage.execute(TimeoutExceptionHandlingStage.java:79)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.TimeoutExceptionHandlingStage.execute(TimeoutExceptionHandlingStage.java:41)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.ApiCallAttemptMetricCollectionStage.execute(ApiCallAttemptMetricCollectionStage.java:55)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.ApiCallAttemptMetricCollectionStage.execute(ApiCallAttemptMetricCollectionStage.java:39)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.RetryableStage2.executeRequest(RetryableStage2.java:93)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.RetryableStage2.execute(RetryableStage2.java:56)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.RetryableStage2.execute(RetryableStage2.java:36)
	at software.amazon.awssdk.core.internal.http.pipeline.RequestPipelineBuilder$ComposingRequestPipelineStage.execute(RequestPipelineBuilder.java:206)
	at software.amazon.awssdk.core.internal.http.StreamManagingStage.execute(StreamManagingStage.java:53)
	at software.amazon.awssdk.core.internal.http.StreamManagingStage.execute(StreamManagingStage.java:35)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.ApiCallTimeoutTrackingStage.executeWithTimer(ApiCallTimeoutTrackingStage.java:82)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.ApiCallTimeoutTrackingStage.execute(ApiCallTimeoutTrackingStage.java:62)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.ApiCallTimeoutTrackingStage.execute(ApiCallTimeoutTrackingStage.java:43)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.ApiCallMetricCollectionStage.execute(ApiCallMetricCollectionStage.java:50)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.ApiCallMetricCollectionStage.execute(ApiCallMetricCollectionStage.java:32)
	at software.amazon.awssdk.core.internal.http.pipeline.RequestPipelineBuilder$ComposingRequestPipelineStage.execute(RequestPipelineBuilder.java:206)
	at software.amazon.awssdk.core.internal.http.pipeline.RequestPipelineBuilder$ComposingRequestPipelineStage.execute(RequestPipelineBuilder.java:206)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.ExecutionFailureExceptionReportingStage.execute(ExecutionFailureExceptionReportingStage.java:37)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.ExecutionFailureExceptionReportingStage.execute(ExecutionFailureExceptionReportingStage.java:26)
	at software.amazon.awssdk.core.internal.http.AmazonSyncHttpClient$RequestExecutionBuilderImpl.execute(AmazonSyncHttpClient.java:210)
	at software.amazon.awssdk.core.internal.handler.BaseSyncClientHandler.invoke(BaseSyncClientHandler.java:103)
	at software.amazon.awssdk.core.internal.handler.BaseSyncClientHandler.doExecute(BaseSyncClientHandler.java:173)
	at software.amazon.awssdk.core.internal.handler.BaseSyncClientHandler.lambda$execute$1(BaseSyncClientHandler.java:80)
	at software.amazon.awssdk.core.internal.handler.BaseSyncClientHandler.measureApiCallSuccess(BaseSyncClientHandler.java:182)
	at software.amazon.awssdk.core.internal.handler.BaseSyncClientHandler.execute(BaseSyncClientHandler.java:74)
	at software.amazon.awssdk.core.client.handler.SdkSyncClientHandler.execute(SdkSyncClientHandler.java:45)
	at software.amazon.awssdk.awscore.client.handler.AwsSyncClientHandler.execute(AwsSyncClientHandler.java:53)
	at software.amazon.awssdk.services.glue.DefaultGlueClient.getTable(DefaultGlueClient.java:10007)
	at org.apache.iceberg.aws.glue.GlueTableOperations.getGlueTable(GlueTableOperations.java:279)
	at org.apache.iceberg.aws.glue.GlueTableOperations.doRefresh(GlueTableOperations.java:128)
	at org.apache.iceberg.BaseMetastoreTableOperations.refresh(BaseMetastoreTableOperations.java:87)
	at org.apache.iceberg.BaseMetastoreTableOperations.current(BaseMetastoreTableOperations.java:70)
	at org.apache.iceberg.BaseMetastoreCatalog.loadTable(BaseMetastoreCatalog.java:49)
	at org.apache.iceberg.shaded.com.github.benmanes.caffeine.cache.BoundedLocalCache.lambda$doComputeIfAbsent$14(BoundedLocalCache.java:2406)
	at java.base/java.util.concurrent.ConcurrentHashMap.compute(ConcurrentHashMap.java:1916)
	at org.apache.iceberg.shaded.com.github.benmanes.caffeine.cache.BoundedLocalCache.doComputeIfAbsent(BoundedLocalCache.java:2404)
	at org.apache.iceberg.shaded.com.github.benmanes.caffeine.cache.BoundedLocalCache.computeIfAbsent(BoundedLocalCache.java:2387)
	at org.apache.iceberg.shaded.com.github.benmanes.caffeine.cache.LocalCache.computeIfAbsent(LocalCache.java:108)
	at org.apache.iceberg.shaded.com.github.benmanes.caffeine.cache.LocalManualCache.get(LocalManualCache.java:62)
	at org.apache.iceberg.CachingCatalog.loadTable(CachingCatalog.java:147)
	at org.apache.iceberg.spark.SparkCatalog.load(SparkCatalog.java:844)
	at org.apache.iceberg.spark.SparkCatalog.loadTable(SparkCatalog.java:169)
	at org.apache.spark.sql.connector.catalog.TableCatalog.tableExists(TableCatalog.java:185)
	at org.apache.spark.sql.execution.datasources.v2.CreateTableExec.run(CreateTableExec.scala:42)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.result$lzycompute(V2CommandExec.scala:43)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.result(V2CommandExec.scala:43)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.executeCollect(V2CommandExec.scala:49)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.Dataset.<init>(Dataset.scala:220)
	at org.apache.spark.sql.Dataset$.$anonfun$ofRows$2(Dataset.scala:100)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.Dataset$.ofRows(Dataset.scala:97)
	at org.apache.spark.sql.SparkSession.$anonfun$sql$1(SparkSession.scala:638)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:629)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:659)
	at jdk.internal.reflect.GeneratedMethodAccessor73.invoke(Unknown Source)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:569)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:840)